

.quemSomos {
  background: linear-gradient(60deg, #FFD700, #a2a503,#72c415,#008000, #c020a5);
 
  
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
}

.script{
  color: rgb(12, 1, 1); 
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; /* Ajuste a largura máxima conforme necessário */
  text-align: justify; /* Alinha o texto justificado */
  word-wrap: break-word;
}